To run a operation a given number of times (repeating steps) thena for loop is a basic method for this.

In [1]:
# Most basic for loop
# This will print out the numbers between 0 and 5
# i starts at 0 unless otherwise initalized first
# Note arrays in python start at 0 so it is common to let i be 0
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [2]:
# Factoral numbers
# Compute the factorial of n and print out the factorial
n = int(input()) # As user for input
print("N ={} of type:{}".format(n, type(n)))
factorial = 1 # Set to 1 as if it is 0 it will remain 0
for i in range(1, n + 1): # start at on and go to n + 1
    factorial *= i
    print(factorial)

6
N =6 of type:<class 'int'>
1
2
6
24
120
720

In [3]:
# Printing triangles Not super useful but we will do it
'''
Results should be this
*
**
***
****
*****
'''
# This will show how to use nested loops
n = int(input())
for i in range(1, n + 1): # put 1 so it will alway print a *
    for j in range(i):
        print('*',end=" ") # end=" " keeps all the printing on one line
    print() # this is the return and gives the next row

5
*
* *
* * *
* * * *
* * * * *

In [4]:
# We will print an upsidedown triangle now
# A little bit different approach which is smaller and faster
# use range function like before
# use the step of -1
# this walks from n to 0 [n, n -1, .... 0]
# create a string by multiplying the * by i
n = int(input())
for i in range(n, 0, -1):
    print('*' * i)

10
**********
*********
********
*******
******
*****
****
***
**
*

In [5]:
import sys
# we need the sys libray to help with printing
# Let's try other types of triangles
'''
* * * * *
 * * * *
   * * *
    * *
     *
'''
n = int(input())
for i in range(n, 0, -1):
    for j in range(n -i):
        sys.stdout.write(' ') # add the indent
    for j in range(2 * i - 1):
        sys.stdout.write('*') # add the *
    print() # Starts a new row

4
*******
 *****
  ***
   *

In [6]:
# Printing numbers
n = int(input())
for i in range(1, n + 1):
    for j in range(1, i + 1, 1):
        print(j, end = " ")
    print()

7
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [7]:
# Printing numbers
# Lets print numbers in reverse order
n = int(input())
for i in range(1, n + 1): # n is the last number we want
    for g in range(i, 0, -1):
        print(g, end=" ")
    print()

5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [8]:
# Looping over a collection of values
days = ['Monday', 'Tuesday', 'Wednesday', 
        'Thursday', 'Friday', 'Saturday', 'Sunday']
for day in days:
    print("List day ", day)
    
# However if the data is in a set then the output may differ
days = set(['Monday', 'Tuesday', 'Wednesday', 
        'Thursday', 'Friday', 'Saturday', 'Sunday'])
for day in days:
    print("Set Day: ", day)

List day  Monday
List day  Tuesday
List day  Wednesday
List day  Thursday
List day  Friday
List day  Saturday
List day  Sunday
Set Day:  Monday
Set Day:  Thursday
Set Day:  Sunday
Set Day:  Wednesday
Set Day:  Saturday
Set Day:  Tuesday
Set Day:  Friday

In [9]:
# Looping over a set of keys
days = {'mon': 'Monday', 'tue': 'Tuesday', 'wed': 'Wednesday', 'thu': 'Thursday', 'fri': 'Friday', 'sat': 'Saturday','sun': 'Sunday'}
for day in days:
    print(day, ' is the key for ', days[day])

mon  is the key for  Monday
tue  is the key for  Tuesday
wed  is the key for  Wednesday
thu  is the key for  Thursday
fri  is the key for  Friday
sat  is the key for  Saturday
sun  is the key for  Sunday